::placeholder {
    font-weight: 500;
    color: #525252;
}
/* .iti {
   margin-left: 44px;
} */
.pop-btn{
   background-color: #f0df20;
   border: none;
   width: 80%;
   margin: 48px;
   padding: 7px 0;
   border-radius: 10px;
   font-size: 14px;
   font-weight: 500;
   box-shadow: 0 0 2px 2px #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;margin-top: 30px;
}
.pop-inpu{
   margin-left: 55px;
   width: 320px;
   background-color: #fff;
   border-radius: 10px;
   padding: 5px 6px;
   border-color: #fff;
}
.pop-lab{
   font-weight:700;
   margin-left: 50px;
   font-size: 13px;
   color: #525252;
   border-radius: 10px;
}
.pop-p{
   margin-bottom: 50px;
   font-size: 13px;
   text-align: center;
   color: #525252;
   font-weight: 600;
}
.pop-title{
   margin-left: 150px;
   font-weight: 600;
   color: #313131;
   font-size: 18px;
}
.pop-content{
   background-color: #eee;
   border-radius: 10px;
}
.pop-dialog{
   width:480px;
   height:400px;
}
.pop-login{
   background: transparent !important;
   border: transparent;
}
.pop-register{
   background: transparent !important;
   border: transparent;
}
.re-msg {
   margin-left: 55px;
}
.codeveri input {
 margin-left: 20px;
 text-align: center; 
 line-height: 80px;
 font-size: 50px;
 border: solid 1px #ccc;
 box-shadow: 0 0 5px #ccc inset;
 outline: none;
 width: 10%;
 transition: all 0.2s ease-in-out;
 border-radius: 3px;
}
.iti--allow-dropdown input[type=tel]{
   
   margin-left: 60px;
}
.re-msg {
   margin-left: 55px;
}

.confirm-btn{
   margin-right: 10px;
   border-radius: 7px;
   box-shadow: 0px 1px 2px 2px #eee120;
 }

 .message-input {
   padding: 10px;
   border-radius: 10px;
   margin-right: 10px;
   width: 300px;
 }
 
 .add-notification-button {
   background-color: green;
   color: white;
   padding: 10px;
   font-weight: 500;
   border-radius: 10px;
 }
 .announcement-bar__title a {
   border-radius: 4px;
   background-color: #E40046;
   padding: 0px 20px;
   box-shadow: 0px 0px 0px #FC9F97;
   margin: 10px 10px 10px 10px;
   font-size: 12px;
   height: 30px;
   line-height: 30px;
   text-decoration: none;
   color: #FFFFFF;
 }

 .announcement-bar__title a:hover {
   background-color: #C62E46;
   text-decoration: none;
   color: #FFFFFF;
 }